name: Build and deploy workflow
on:
  push:
    branches:
      - master
      - develop
      - 34
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: clone code
        uses: actions/checkout@v3
      - name: docker build
        run: docker build -t icheh/diplom_cheh:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
      - name: docker_login
        uses: docker/login_action@v2
        with:
          username: icheh
          password: dckr_pat_4nUkOumEeqlE5yAC1QGic6dvdpg
      - name: docker push
        run: docker push icheh/diplom_cheh:$GITHUB_REF_NAME-$GITHUB_RUN_ID
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
    steps:
      - name: clone code
        uses: actions/checkout@v3
      - name: render configs
        run:
          mkdir deploy_ci
          cat deploy/docker-compose-ci.yaml | envsubst > deploy_ci/docker-compose.yaml
          cat deploy/.env | envsubst > deploy_ci/.env
      - name: copy files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: "deploy_ci/docker-compose.yaml,deploy_ci/.env"
          target: "todolist"
          strip_components: 1
      - name: deploy app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd todolist
            docker-compose down
            docker-compose up -d